/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  height: 200px;
  display: block;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
